 :root {
  --primary-color: #2F734F;
  --secondary-color: #EDEAE5; 
  --bg-card: #E4E0DC;
  --text-color: #F7F7F7;
  --head-text-color: #2F734F;
} 

a {
  text-decoration: none;
  color: inherit;
}

nav {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  padding: 7px 8px 4px 8px;
  height: 52px;
  color: var(--text-color);
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 50px;
}
/* .nav-list > li {
  box-sizing: border-box;
  border-bottom: 2px solid var(--primary-color);
}
.nav-list > li:hover {
  color: var(--text-color);
  border-bottom-color: var(--text-color);
} */

.nav-element{
  box-sizing: border-box;
  border-bottom: 2px  solid var(--primary-color);
}

.nav-element:hover{
  border-bottom: 2px solid  var(--text-color);
}


nav > h2 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
}


/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 200 to 1000 */

.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;
}



.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

/* body{
    background-image: url(/assets/images/background-dark.jpg);
    background-repeat: no-repeat;
} */

.body-content {
  margin: 20px;
  border-radius: 16px;
  padding: 10px 20px;
  background-color: var(--bg-card);
  text-align: center;
  border: 1px solid gray;
}

.body-content-home >h3{
  color: var(--head-text-color);
  font-size: 24px;
  font-weight: 100px;
}

/* WEB SCROLLBAR */
body::-webkit-scrollbar {
  width: 5px;
  background-color: #575757;
}
body::-webkit-scrollbar-track {
  background-color: var(--text-color);
}

/* POKE CARD */
.body-content-pokecard {
  margin: 20px;
  border-radius: 16px;
  padding: 10px 20px;
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.pokecard {
  width: 102px;
  height: 102px;
  border-radius: 5px;
  margin-top: 10px;
  padding: 20px;
  margin-bottom: 40px;
  text-align: center;
  background-color: var(--text-color);
  color: #000;
  border: 2px solid var(--bg-card);
}

.pokecard:hover {
  border-bottom-color: var(--primary-color);
}

.pokecard img {
  width: 100%;
  object-fit: fill;
  margin-top: -45px;
  /* border-radius: 5px; */
}

.pokecard h4 {
  font-size: 20px;
  margin-top: -10px;
}
.body-content-pokecard-top{
  float: left;
  
}

/* SIDEBAR CSS   not finished */
/* .sidebar{
            height: 100%;
            width: 250px;
            position: fixed;
            top: 0;
            left: -35px;
            background-color: #111;
            padding-top: 20px;
            display: none;
        }
        .sidebar a{
            padding: 15px 25px;
            text-decoration: none;
            font-size: 18px;
            color: white;
            display: block;
        }
        .sidebar a:hover{
            background-color: #575757;
        }
 */

.toggle {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 30px;
  width: 40px;
  cursor: pointer;
  background: none;
  border: none;
}
#moon-icon {
  rotate: -45deg;
  scale: 0.7;
  display: none;
}
#sun-icon {
  rotate: -45deg;
  scale: 0.7;
  display: block;
}

/* THIS CODE IS ABOUT THE DETAILS SECTION OF THE MONS */
/* 
    .details-description{
        display: inline-block;
    }

    .details-text{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .details-img > img {
        width: 360px;
        height: 366px;
        margin-right: calc(100vw - 20px);
        margin-left: 20px;
        border: 1px solid #d9d9d9d9;
        object-fit: cover;
        }
        .alt-text{
            width: 360px;
            height: 366px;
            margin-right: calc(100vw - 20px);
            margin-left: 20px;
        }

         */





         
         
         
         
         header {
           background-color: var(--primary-color);
           color: var(--text-color);
           padding: 20px;
           position: relative;
         }
            body {
             font-family: Arial, sans-serif;
             margin: 0;
             padding: 0;
             background-color: var(--secondary-color);
             
         }

/* alr now idk  */


.body-content-pokeinfo{
  display: flex;
  flex-direction: column;
}

.poke-details {
  border-radius: 16px;
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--text-color);
  justify-content: space-between;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  margin-left: 500px;
  text-align: justify;
}

.poke-details-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 2px;
}

.info {
  width: calc(100% - 320px);
  padding-left: 20px;
}

.info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.info p {
  margin-bottom: 10px;
}

.forum-link {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
}
.forum-link:hover {
  transform: translateY(-5px);
}

/* CSS styles for Episode List */

/* .episode-list {
  margin-top: 20px;
}

.episode-list h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.episode-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.episode-list li {
  margin-bottom: 5px;
}

.episode-list li a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #eee;
  transition: background-color 0.3s ease;
}

.episode-list li a:hover {
  background-color: #ddd;
}

.artwork-link {
  display: inline;
  margin-left: -415px;
  margin-top: 285px;
  color: #007bff;
} */ 

/* To add color effects to type of stuff like the color hoghlighting in stuff */
.type-fire {
  display: inline;
  color: #ffc107;
}
.type-water {
  display: inline;
  color: #2196f3;
}
.type-electric {
  display: inline;
  color: #ff9800;
}
.type-grass {
  display: inline;
  color: #8bc34a;
}
.type-poison {
  display: inline;
  color: #9c27b0;
}
.type-ground {
  display: inline;
  color: #9e9e9e;
}
.type-flying {
  display: inline;
  color: #03a9f4;
}
.type-psychic {
  display: inline;
  color: #f7dc6f;
}
.type-ghost {
  display: inline;
  color: #f7dc6f;
}
.type-bug {
  display: inline;
  color: #8bc34a;
}
.type-steel {
  display: inline;
  color: #9e9e9e;
}
.type-fairy {
  display: inline;
  color: #ff69b4;
}
.type-dark {
  display: inline;
  color: #455a64;
}
.type-dragon {
  display: inline;
  color: #4caf50;
}
.type-fighting {
  display: inline;
  color: #ff9800;
}
.type-ice {
  display: inline;
  color: #03a9f4;
}
.type-normal {
  display: inline;
  color: #9e9e9e;
}
.type-rock {
  display: inline;
  color: #9e9e9e;
}

/* About section */

.body-content-about {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.me-pfp {
  height: 150px;
  width: 150px;
  border-radius: 500px;
}
.pfp-container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  width: 800px;
}

/* FoR THe cards in homepage*/

.home-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 500px;
  height: 320px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 16px;
  margin-bottom: 20px;
  overflow: hidden;
}
.home-cards:hover{
  background-color: var(--text-color);
  color: var(--primary-color);
}
.home-cards img{
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  object-fit: fill;
  width: 500px;
  padding-left: 5px;   /*idk what is just did with padding but it looks cool lol */
  padding-right: 5px;
}
.home-cards h4{
  font-size: 24px;
}
