nav{
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 16px;
    height: 56px;
    border-radius: 16px;
}
.nav-list{
    list-style: none;
    display: flex;
    gap: 50px;
}
.nav-list > li:hover{
    color:#D9D9D9;
    background-color: #575757;
}

nav > img{
    height: 65px;
    width: 65px;  
    
}

nav > h2{
    font-size: 24px;
    font-weight: bold;
    color: black;
    letter-spacing: 2px;
    text-align: center;
}


.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

body{
    background-image: url(/assets/images/background-light.webp);
    background-repeat: no-repeat;
}

.body-content{
    margin-top: 20px;
    border-radius: 16px;
    padding: 10px 20px;
    background-color: #D9D9D9;
}


            /* WEB SCROLLBAR */
    body::-webkit-scrollbar{
        width: 5px;
        background-color: #575757;
    }
    body::-webkit-scrollbar-track{
        background-color: #D9D9D9;
    }



          /* SIDEBAR CSS   not finished */
        /* .sidebar{
            height: 100%;
            width: 250px;
            position: fixed;
            top: 0;
            left: -35px;
            background-color: #111;
            padding-top: 20px;
            display: none;
        }
        .sidebar a{
            padding: 15px 25px;
            text-decoration: none;
            font-size: 18px;
            color: white;
            display: block;
        }
        .sidebar a:hover{
            background-color: #575757;
        }
 */
