a{
    text-decoration: none;
    color: inherit;
}

nav{
    background-color: #000000;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 16px;
    height: 56px;
    border-radius: 16px;
    color: #D9D9D9;
}
.nav-list{
    list-style: none;
    display: flex;
    gap: 50px;
}
.nav-list > li:hover{
    color:#D9D9D9;
    background-color: #575757;
}

nav > img{
    height: 65px;
    width: 65px;  
    
}

nav > h2{
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}


.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

body{
    background-image: url(/assets/images/background-dark.jpg);
    background-repeat: no-repeat;
}


.body-content{
    margin-top: 20px;
    border-radius: 16px;
    padding: 10px 20px;
    background-color: #000000;
    color: #D9D9D9;
    text-align: center;
}


            /* WEB SCROLLBAR */
    body::-webkit-scrollbar{
        width: 5px;
        background-color: #575757;
    }
    body::-webkit-scrollbar-track{
        background-color: #D9D9D9;
    }
           
      /* ANIME CARD */
      .pokecard {
        width: 225px;
        height: 150spx;
        /* border: 1px solid #ccc; */
        border-radius: 5px;
        padding: 20px;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
      }
      
      .pokecard:hover {
        transform: translateY(-5px);
      }
      
      .pokecard img {
        width: 100%;
        max-height: 200px;
        object-fit: contain;
        border-radius: 5px;
        margin-bottom: 10px;
      }
      
      .pokecard h2 {
        font-size: 20px;
        margin-bottom: 10px;
      }



          /* SIDEBAR CSS   not finished */
        /* .sidebar{
            height: 100%;
            width: 250px;
            position: fixed;
            top: 0;
            left: -35px;
            background-color: #111;
            padding-top: 20px;
            display: none;
        }
        .sidebar a{
            padding: 15px 25px;
            text-decoration: none;
            font-size: 18px;
            color: white;
            display: block;
        }
        .sidebar a:hover{
            background-color: #575757;
        }
 */

 
 .toggle{ 
    align-items: center;
    display: flex;
    justify-content: center;
    height: 30px;
    width: 40px;
    cursor:pointer;
    background: none;
    border: none;
 }
 #moon-icon{
    rotate: -45deg;
    scale: 0.7;
    display: none;
 }
 #sun-icon{
    rotate: -45deg;
    scale: 0.7;
    display: block;
    
 }


